{% if page.wufoo_form_hash %}
{% assign _wufoo_hash = page.wufoo_form_hash %}
{% assign _wufoo_user = page.wufoo_username | default: 'clarasprings' %}
<div class="modal fade" id="registrationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registrationModalLabel">Registration Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe
          id="wufoo-iframe"
          data-src="https://{{ _wufoo_user }}.wufoo.com/embed/{{ _wufoo_hash }}/"
          title="Registration Form"
          frameborder="0"
          scrolling="yes"
          sandbox="allow-popups allow-forms allow-scripts allow-same-origin"
          style="width:100%;height:100%;border:none;display:block;">
          <a href="https://{{ _wufoo_user }}.wufoo.com/forms/{{ _wufoo_hash }}">Fill out the online form.</a>
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    var modal = document.getElementById('registrationModal');
    var iframe = document.getElementById('wufoo-iframe');
    modal.addEventListener('show.bs.modal', function () {
      if (!iframe.src && iframe.dataset.src) {
        iframe.src = iframe.dataset.src;
      }
    });
    modal.addEventListener('hide.bs.modal', function () {
      iframe.src = '';
    });
  })();
</script>
{% endif %}
