<div class="modal fade" id="registrationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registrationModalLabel">Registration Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe
          id="wufoo-iframe"
          title="Registration Form"
          frameborder="0"
          scrolling="yes"
          sandbox="allow-popups allow-forms allow-scripts allow-same-origin"
          style="width:100%;height:100%;border:none;display:block;">
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    var modal = document.getElementById('registrationModal');
    var iframe = document.getElementById('wufoo-iframe');

    // Use 'shown.bs.modal' so the modal is fully visible before the iframe loads
    modal.addEventListener('shown.bs.modal', function (event) {
      var btn = event.relatedTarget;
      var hash = btn && btn.getAttribute('data-wufoo-hash');
      var user = (btn && btn.getAttribute('data-wufoo-user')) || '{{ page.wufoo_username | default: "clarasprings" }}';
      if (hash) {
        // Append timestamp to bypass any caching
        iframe.src = 'https://' + user + '.wufoo.com/embed/' + hash + '/?t=' + Date.now();
      }
    });

    // Clear on close so reopening always gets a fresh load
    modal.addEventListener('hide.bs.modal', function () {
      iframe.src = '';
    });
  })();
</script>
