<script src="{{ '/assets/js/jquery-3.6.3.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-migrate-3.0.0.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/modernizr-2.6.2.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.isotope.v3.0.2.js' | relative_url }}"></script>
<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scrollIt.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.waypoints.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.stellar.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.js' | relative_url }}"></script>
<script src="{{ '/assets/js/YouTubePopUp.js' | relative_url }}"></script>
<script src="{{ '/assets/js/select2.js' | relative_url }}"></script>
<script src="{{ '/assets/js/datepicker.js' | relative_url }}"></script>
<script src="{{ '/assets/js/smooth-scroll.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
